.app-wrapper{
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas: 
    "h h" 
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    
}
.header{
    grid-area: h;
    background-color: yellow;
}
.header img{
    width: 5%;
    margin-right: 10px;
}
.nav{
    grid-area: n;
    padding: 10px;
    background-color: firebrick;
}
.content{
    grid-area: c;
    height: 100vh;
    padding: 10px;
    background-color: hotpink;
}
.content img{
    height: 150px;
    width: 100%;
}
